apiVersion: batch/v1
kind: Job
metadata:
  name: iris-train
  labels: { app: iris-train }
spec:
  ttlSecondsAfterFinished: 600
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      imagePullSecrets:
        - name: ghcr-creds
      containers:
        - name: train
          image: __IMAGE__
          imagePullPolicy: IfNotPresent
          env:
            - name: MLFLOW_TRACKING_URI
              value: http://mlflow.mlops.svc.cluster.local:5000
            - name: MLFLOW_EXPERIMENT_NAME
              value: iris-rf
            - name: MLFLOW_S3_ENDPOINT_URL
              value: http://minio.mlops.svc.cluster.local:9000
            - name: AWS_ACCESS_KEY_ID
              valueFrom: { secretKeyRef: { name: minio-creds, key: accessKey } }
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom: { secretKeyRef: { name: minio-creds, key: secretKey } }
          resources:
            requests: { cpu: "500m", memory: "1Gi" }
            limits:   { cpu: "2",    memory: "4Gi" }

