apiVersion: batch/v1
kind: Job
metadata:
  name: kaniko-build
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never

      # 1) 소스 준비: GitHub tarball로 해당 커밋을 /workspace 에 풀기
      initContainers:
        - name: fetch-src
          image: alpine:3.20
          command: ["/bin/sh","-lc"]
          args:
            - |
              set -e
              apk add --no-cache curl tar >/dev/null
              mkdir -p /workspace
              echo "download source for __GIT_SHA__"
              curl -L -o /tmp/src.tgz "https://codeload.github.com/nacgyun/mlopsgit/tar.gz/__GIT_SHA__"
              tar -xzf /tmp/src.tgz -C /workspace --strip-components=1
              ls -al /workspace
          volumeMounts:
            - name: workspace
              mountPath: /workspace

      # 2) Kaniko build & push
      containers:
        - name: kaniko
          image: gcr.io/kaniko-project/executor:latest
          imagePullPolicy: IfNotPresent
          args:
            - --context=/workspace
            - --dockerfile=/workspace/Dockerfile
            - --destination=__IMAGE__
          volumeMounts:
            - name: docker-config
              mountPath: /kaniko/.docker/     # => /kaniko/.docker/config.json
            - name: workspace
              mountPath: /workspace

      volumes:
        - name: docker-config
          secret:
            secretName: ghcr-creds
            items:
              - key: .dockerconfigjson
                path: config.json
        - name: workspace
          emptyDir: {}

